.leftSection {
  max-width: 368px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 38px 54px 55px 54px;
  border-radius: 32px;
  background: linear-gradient(180deg, #75f 0%, #6943ff 0.01%, #2f2ce9 100%);
}

@media (max-width: 635px) {
  .leftSection {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-width: 100%;
    gap: 24px;
    padding: 24px 57px 40px 57px;
  }
}
