* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.scoreDiv {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    #4d21c9 0%,
    rgba(37, 33, 201, 0) 100%,
    rgba(37, 33, 201, 0) 100%
  );
}

@media (max-width: 635px) {
  .scoreDiv {
    height: 140px;
    width: 140px;
  }
}
