.score {
  color: #303b59;

  /* Body (Bold) */
  font-family: "Hanken Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 635px) {
  .score {
    color: var(--Dark-Navy, #303b59);
    text-align: right;
    font-feature-settings: "liga" off, "clig" off;
    font-family: "Hanken Grotesk";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
