* {
  box-sizing: border-box;
  margin: 0;
}

.card {
  max-width: 288px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 18px 16px;
  border-radius: 12px;
  background-color: #fff6f6;
}

.card > div {
  display: flex;
  align-items: center;
}

.div1 {
  gap: 12px;
}

.div2 {
  gap: 8px;
}

@media (max-width: 635px) {
  .card{
    max-width: 100%;
  }
}
