.heading4 {
  color: var(--Dark-Navy, #303b59);
  font-feature-settings: "liga" off, "clig" off;

  /* Heading M */
  font-family: "Hanken Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 635px) {
  .heading4 {
    color: var(--Dark-Navy, #303b59);
    font-feature-settings: "liga" off, "clig" off;
    font-family: "Hanken Grotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
